
/*
 * gramado.css minimalist css library.
 * Created by Fred Nora.
 * (This is a work in progress)
 */

/*
 * Library components:
 *   + 1) Global scope. (main html elements)
 *   + 2) .gramado-nav class. (Navigation bar)
 *   + 3) .gramado-header class. (Main header)
 *   + 4) .gramado-footer class. (Main footer)
 *   + 5) .gramado-button class. (Buttons)
 *   + ...
 *   + last) @media queries. (Responsive design).
 */


/*
 * Component: 
 *     Global scope.
 */

html, body {
    margin: 0;
    padding: 0;
    background-color: #F2EFEF;
}

/* 
 * ------------------------------------------------------
 * Component: 
 *     .gramado-header class. Main header 
 */
.gramado-header {
    color: #D73B60;
    text-align: center;
    text-transform: uppercase;
}


/*
 * ------------------------------------------------------ 
 * Component: 
 *     .gramado-footer Footer.
 */
.gramado-footer {
    color: #C0C0C0;
    text-align: center;
}

/*
 * ------------------------------------------------------
 * Component: button 
 */

.gramado-button {
    text-align: center;
}

/*
 * ------------------------------------------------------
 * Component: Media queries. 
 */

/* MEDIA QUERY */

/* small */
@media (min-width: 200px) and (max-width: 1023px ) {

.gramado-nav {
    /*display: none;*/
    /*max-height: none;*/
    /*top: 0;*/
    /*position: relative;*/
    /*float: left;*/
    width: fit-content;
    background-color: transparent;
    width: 100%;
    text-align: center;
}
.gramado-nav ul {
    width: 100%;
    margin: 0;
    text-align: center;
}
.gramado-nav li {
    width: 100%;
    display: block;
    /*padding: 0 2%;*/
    text-align: center;
}
.gramado-nav a {
    color: #808080;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
}
.gramado-nav a:hover {
    background-color: rgba(255, 255, 255, .7); /*white*/
    text-align: center;
}
/*??*/
.gramado-main-nav {
    font-size: 1.1em;
    text-align: center;
    border-top: 2px solid rgba(200, 200, 200, .3);
    border-bottom: 2px solid rgba(200, 200, 200, .3);
}

.gramado-image {
    width: 75%;
    height: auto;
}

}

/* large */
@media (min-width: 1024px) {

/* Navigation bar */
.nav {
    text-align: center;
}
.nav ul {
    margin: 0;
}
.nav li {
    display: inline;
    padding: 0 2%; /*distancia entre os items*/
}
.nav a {
    color: #808080;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
}
.nav a:hover {
    background-color: rgba(255, 255, 255, .7); /*White*/
}
.main-nav {
    font-size: 1.1em;
    text-align: center;
    border-top: 2px solid rgba(200, 200, 200, .3);
    border-bottom: 2px solid rgba(200, 200, 200, .3);
}


.main-image {
    width: 50%;
    height: auto;
}

}







